body {
  background-color: #bbb;
}

.circulo {
  width: 100px;
  height : 100px; 
  float: left;
  margin: 20px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px; 
  border-radius: 50px;
}

#rojo {
  background: #F00;
}
#verde {
  background: #0F0;
}
.rojo {
	color: #f00;
}